//npm.greensock.com/:_authToken=MY_GREENSOCK_TOKEN
@gsap:registry=https://npm.greensock.com
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=MY_FONTAWESOME_TOKEN
```