.wall {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/PIA09959-1280x800_copy.jpg);
  background-size: cover;
}

.warp_scene {
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100vw;
  z-index: -1;
  transform: translate(50%, 50%);
}

.warp_warp {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: warpmove 12s infinite linear;
  animation-fill-mode: forwards;

}

.warp_warp:nth-child(2) {
  animation: warpmove 12s infinite linear;
  animation-delay: 6s;
}

.wall {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
}

.warp_wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

.wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  transform: rotateX(180deg) translateZ(500px);
}

@keyframes warpmove {
  0% {
    transform: translateZ(-500px) rotate(0deg);
  }

  100% {
    transform: translateZ(500px) rotate(0deg);
  }
}