header.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: grid;
  padding: 0 2em 0 1em;
  grid-template-columns: auto max-content;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99999;
  width: 100%;

  @media screen and (min-width: 960px) {
    width: calc(100% - 20vw);
    margin: 1em auto;
    border-radius: 0.8em;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .header_logo {
    img {
      max-width: 5em;
    }
  }

  nav.header_nav {
    @media screen and (max-width: 959px) {
      display: none;
    }

    ul {
      padding: 0 1em;
      list-style: none;
      margin: 0;
      display: flex;
      gap: 1em;

      li {
        a {
          color: #fff;
          position: relative;
          text-decoration: none;

          &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            width: 0;
            right: 0;
            margin: 0 auto;
            left: 0;
            height: 1px;
            background: #fff;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .header_hamburger {
    display: block;
    color: #fff;
    position: relative;
    width: 2em;
    height: 2em;
    cursor: pointer;

    @media screen and (min-width: 960px) {
      display: none;
    }

    i {
      position: absolute;
      font-size: 2em;
    }

    .header_close {
      opacity: 0;
      pointer-events: none;
    }
  }

  .header_menu_mobile {
    position: absolute;
    top: 100%;
    background: #fff;
    height: 0;
    display: grid;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &.active {
      height: calc(100vh - 5.2em);
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 1em;
      padding: 2em 6vw;
      text-align: center;

      li {
        a {
          font-size: 2.5em;
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  &.header.menu_active {
    .header_hamburger {
      .header_close {
        opacity: 1;
        pointer-events: all;
      }

      .header_open {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}